<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h5>Services and dependency injection | Practical skills</h5>
      <br>
      <app-new-account></app-new-account>
    </div>
    <div class="col-md-12">
      <hr>
      <app-account [accounts]="accounts"></app-account>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h5>Deep diving in angular directives | Practical skills</h5>
      <br>
      <app-directive></app-directive>
    </div>
  </div>
  <hr>
  <h4>Angular Basics</h4>
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
    >
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
      *ngFor="let serverElemet of serverElements"
      [srvElement]="serverElemet"></app-server-element>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h5>Exercise | Practising Component Data Binding!</h5>
      <br>
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-even *ngFor="let even of evenNumbers" [evenNumber]="even"></app-even>
    </div>
    <div class="col-md-6">
      <app-odd *ngFor="let odd of oddNumbers" [oddNumber]="odd"></app-odd>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h5>Exercise 2 | Practising Component Data Binding</h5>
      <br>
      <app-staff></app-staff>
    </div>
  </div>
</div>
